@model EditViewModel

<div class="page-header">
    <a asp-action="Index" class="btn btn-lg btn-dark"><i class="fa-solid fa-home"></i> Back to Home</a>
    <h1>Edit Hospital</h1>
</div>

<hr />

<div class="card card-body">
    <form asp-action="Save" asp-controller="Home" method="post">
        <input asp-for="Hospital.HospitalId" type="hidden" />

        <label asp-for="Hospital.Name">Name</label>
        <input asp-for="Hospital.Name" class="form-control" />

        <label asp-for="Hospital.Description">Description</label>
        <textarea asp-for="Hospital.Description" class="form-control"></textarea>

        <label asp-for="Hospital.Color">Color</label>
        <input type="color" asp-for="Hospital.Color" value="#@Model.Hospital.Color" />

        <button class="btn btn-primary" type="submit">Submit</button>

        <button asp-action="Delete" asp-controller="Home" name="hospitalId" value="@Model.Hospital.HospitalId" class="btn btn-danger" type="submit">
            <i class="fa-solid fa-trash"></i> Delete
        </button>
    </form>
</div>