@model Hospital

@{
    string pageTitle = Model.HospitalId == 0 ? "Create" : "Edit";
    ViewData["Title"] = pageTitle;
}

<div class="page-header">
    <div>
        <a asp-action="Index" class="btn btn-lg btn-dark"><i class="fa-solid fa-home"></i> Back to Home</a>
    </div>
    <h1>@pageTitle Hospital</h1>
    <div></div>
</div>

<hr />

<form id="hospital-form" asp-action="Save" asp-controller="Home" method="post">
    <input asp-for="HospitalId" type="hidden" />

    <div class="d-flex flex-row align-items-center mb-3">
        <div class="form-floating w-100">
            <input asp-for="Name" class="form-control form-control-lg" placeholder="Name" />
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name"></span>
        </div>

        <input type="color" asp-for="Color" class="form-control-color ms-3" aria-label="Color" />
        <span asp-validation-for="Color"></span>
    </div>

    <div class="edit-columns">
        <div class="edit-main-column">
            <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
            <span asp-validation-for="Description"></span>
        </div>

        <div class="vr"></div>

        <div class="edit-public-info-column">
            <div class="form-floating mb-3">
                <input id="phone-number" asp-for="PhoneNumber" type="tel" class="form-control" placeholder="Contact Phone Number" />
                <label for="phone-number">Contact Phone Number</label>
                <span asp-validation-for="PhoneNumber"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="EmailAddress" type="email" class="form-control" placeholder="Contact Email Address" />
                <label asp-for="EmailAddress">Contact Email Address</label>
                <span asp-validation-for="EmailAddress"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="URL" type="url" class="form-control" placeholder="Main Webpage" />
                <label asp-for="URL">Main Webpage</label>
                <span asp-validation-for="URL"></span>
            </div>
        </div>
    </div>
</form>

<hr class="mt-3" />
<div class="edit-action-area">
    <button form="hospital-form" class="btn btn-dark btn-lg" type="submit">Submit</button>

    @if (Model.HospitalId != 0)
    {
        @* ugh... https://github.com/ryanelian/aspnet-validation/issues/7 *@
        <form asp-action="Delete">
            <button name="hospitalId" value="@Model.HospitalId" class="btn btn-outline-danger btn-lg w-100" type="submit">
                <i class="fa-solid fa-trash"></i> Delete
            </button>
        </form>
    }
</div>


@section Scripts {
    <script>
        VMasker(document.getElementById('phone-number')).maskPattern('(999) 999-9999')
    </script>
}