@model HomeViewModel

@{
    ViewData["Title"] = "Hospital Management";
}

<h1>Hospital Management</h1>

<hr />

<div class="hospital-grid">
    @foreach (Hospital hospital in Model.Hospitals)
    {
        <a asp-action="Edit" asp-route-id="@hospital.HospitalId" class="hospital-card">
            <div class="color" style="background-color: @hospital.Color"></div>
            <div class="body">
                <h2>@hospital.Name</h2>
                <span class="description">@hospital.Description</span>
            </div>
        </a>
    }
</div>