@model HomeViewModel

@{
    ViewData["Title"] = "Hospital Maintenance";
}

<div class="sidebar">
    @foreach (Hospital hospital in Model.Hospitals)
    {
        <div>
            <h1>@hospital.Name</h1>
            <h2>@hospital.Description</h2>
        </div>
    }
</div>

<div class="pane">
    @foreach (Hospital hospital in Model.Hospitals)
    {
        <form asp-action="Edit" asp-controller="Home">
            <input asp-for="Hospital.Name" class="form-control" />
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    }
</div>