@model HomeViewModel

@{
    ViewData["Title"] = "Hospital Management";
}

<div class="page-header">
    <div></div>
    <h1>Hospital Management</h1>
    <div>
        <a asp-action="Create" class="btn btn-lg btn-dark"><i class="fa-solid fa-circle-plus"></i> Create</a>
    </div>
</div>

<hr />

@if (Model.Hospitals.Count > 0) {
    <div class="hospital-grid">
        @foreach (Hospital hospital in Model.Hospitals)
        {
            <a asp-action="Edit" asp-route-id="@hospital.HospitalId" class="hospital-card">
                <div class="color" style="background-color: #@hospital.Color"></div>
                <div class="body">
                    <h2 class="mb-0 truncate">@hospital.Name</h2>
                    <span class="description truncate">@hospital.Description</span>
                    <span class="text-secondary truncate">@hospital.URL</span>
                </div>
            </a>
        }
    </div>
}
else
{
    <div class="empty-set-container">
        <h2><i class="fa-solid fa-ban"></i> No Hospitals Added</h2>
        <p>Add a hospital using the 'Create' button above.</p>
    </div>
}