@model HomeViewModel

@{
    ViewData["Title"] = "Hospital Management";
}

<h1 class="text-center"><i class="fa-solid fa-hospital"></i> Hospital Management</h1>

<hr />

<div class="sidebar">
    @foreach (Hospital hospital in Model.Hospitals)
    {
        <div class="hospital-card">
            <div class="color"></div>
            <h2>@hospital.Name</h2>
            <p>@hospital.Description</p>
        </div>
    }
</div>