/* Global */
:root {
    --rounded: 3em;
}

html {
    font-size: 14px;
    background: linear-gradient(white, #f7d0af);
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    font-family: "Montserrat", sans-serif;
    background: none;
}

h1 {
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-weight: 800;
    font-size: 1.5em;
}

/* Text Utilities */
.text-small {
    font-size: .9em;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Form Element Adjustments */
.btn:has(i) {
    white-space: nowrap !important;
}

.btn,
.toast {
    border-radius: var(--rounded);
    transition: transform .2s;
}

    .btn:hover,
    .toast:hover {
        transform: scale(1.05);
    }

    .btn:hover {
        box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
    }

.form-control {
    border-radius: 1em;
}

/* Page Header */
.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

    .page-header > *:first-child,
    .page-header > *:last-child {
        flex: 1 0 5em;
    }

    .page-header > *:not(:last-child, :first-child) {
        flex: 1 1 70%;
        padding-top: .25em;
        padding-bottom: .25em;
    }

    .page-header button,
    .page-header a {
        width: 100%;
    }

    .page-header > *:last-child {
        text-align: end;
    }

/* Content Presentation */
.empty-set-container {
    color: var(--bs-secondary);
    text-align: center;
    margin-top: 3em;
}

/* Homepage */
.hospital-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 2em;
}

.hospital-card {
    border: solid .0em gray;
    display: flex;
    border-radius: var(--rounded);
    transition: transform .2s;
    box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
    height: 8em;
    text-decoration: none;
    color: var(--bs-text-body);
}

    .hospital-card:hover {
        transform: scale(1.05);
    }

    .hospital-card .color {
        height: 100%;
        width: 30%;
        border-bottom-left-radius: var(--rounded);
        border-top-left-radius: var(--rounded);
    }

    .hospital-card .body {
        display: flex;
        flex: 5;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        border-top-right-radius: var(--rounded);
        border-bottom-right-radius: var(--rounded);
        padding-inline-start: 1em;
        background-color: var(--bs-body-bg);
    }

/* Edit Page */
.edit-columns {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

@media screen and (max-width: 469px) {
    .edit-columns .vr {
        display: none;
    }
}

.edit-main-column {
    flex: 7 1 20em;
}

    .edit-main-column textarea {
        height: 100%;
    }

.edit-public-info-column {
    flex: 3 1 10em;
}

    .edit-public-info-column div.form-floating {
        width: 100%;
    }

.edit-action-area {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

    .edit-action-area > * {
        width: 30%;
    }
