@using System.Text.Json

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital Management</title>
    <script src="https://kit.fontawesome.com/01e8bac7fc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/app.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <main role="main" class="py-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/app.bundle.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @{
        var tempData = TempData["Toast"];
        Toast? toast = null;

        if (tempData is not null)
        {
            toast = JsonSerializer.Deserialize<Toast?>(tempData.ToString());
        }
    }

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toast" class="toast align-items-center bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body fs-5 text-light px-3">
                    <i class="fa-solid @toast?.Icon"></i>
                    @toast?.Message
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <script>
        if ('@toast?.Message') {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(document.getElementById('toast'));
            toastBootstrap.show();
        }
    </script>

</body>
</html>
